* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  letter-spacing: 0.1rem;
  padding: 0.7rem;
}

header {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;

  .cfoot {
    display: flex;
    align-items: center;
    gap: 10px;

    p {
      font-size: 0.9rem;
    }
    button {
      width: fit-content;
      padding: 6px 5px;
      border-radius: 0.5rem;
      background-color: black;
      color: white;
      border: none;
    }
  }
}
main {
  margin-top: 2.5rem;
  .sec1 {
    width: 100%;
    .img1 {
      img {
        width: 100%;
      }
    }
    .para {
      padding-top: 1.1rem;
      display: flex;
      justify-content: space-between;

      p {
        font-size: 0.7rem;
      }
    }
  }

  .sec2 {
    width: 100%;
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 20px;

    .img2 {
      width: 100%;
      img {
        width: 100%;
      }
    }
    .div1 {
      display: flex;
      flex-direction: column;
      gap: 10px;
      h1 {
        font-weight: 350;
        font-size: 2.5rem;
        line-height: 2.5rem;
      }
      p {
        font-size: 1.3rem;
      }
    }

    .div2 {
      padding-top: 20px;
      display: flex;
      flex-direction: column;
      gap: 10px;
      font-size: 2rem;
      font-weight: 350;
      text-transform: uppercase;
      .service {
        display: flex;
        justify-content: space-between;
      }
    }
  }

  .sec3 {
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 10px;

    .img3 {
      width: 100%;
      img {
        width: 100%;
      }
    }
    .div1 {
      display: flex;
      gap: 20px;
      .para {
        writing-mode: sideways-rl;
        padding-top: 15px;
      }

      .hAp {
        display: flex;
        flex-direction: column;
        gap: 15px;
        h1 {
          font-size: 3rem;
          line-height: 3rem;
          font-weight: 350;
          text-transform: uppercase;
        }
        p {
          opacity: 0.6;
          font-size: 1.3rem;
        }
      }
    }
  }
  .sec4 {
    padding-top: 3rem;
    display: flex;
    flex-direction: column;
    gap: 50px;
    .div1 {
      display: flex;
      flex-direction: column;
      gap: 20px;
      .heading {
        h1 {
          font-size: 3em;
          font-weight: 350;
        }
      }
      .services {
        display: flex;
        flex-direction: column;
        gap: 20px;
      }
      hr {
        margin-top: 20px;
        opacity: 0.7;
      }
      .service1 {
        display: flex;
        flex-direction: column;
        gap: 10px;
        h1 {
          font-size: 1.5rem;
          font-weight: 350;
        }
        p {
          opacity: 0.7;
          font-size: 1.2em;
        }
        .arrAp {
          display: flex;
          gap: 10px;
          padding-top: 20px;
          align-items: center;
          .circle {
            width: 30px;
            height: 30px;
            border: 1px solid black;
            background-color: black;
            border-radius: 50%;
            justify-content: center;
            display: flex;
            align-items: center;
            svg {
              display: flex;
              color: white;
            }
          }
          p {
            opacity: 1;
            font-size: 0.8em;
          }
        }
      }
    }
    .div2 {
      width: 100%;
      img {
        width: 100%;
        aspect-ratio: 1/1;
      }
    }
  }
  .sec5-6 {
    display: flex;
    flex-direction: column;
    padding-top: 5rem;
    gap: 20px;
    .img4 {
      width: 100%;
      img {
        width: 100%;
      }
    }
    .sec5 {
      width: 100%;
      .mobile {
        width: 100%;
        aspect-ratio: 1/1;
      }
      .desktop {
        display: none;
      }
      .hAp {
        display: flex;
        flex-direction: column;
        gap: 10px;
        h1 {
          font-weight: 350;
        }
        .arrAp {
          display: flex;
          gap: 10px;
          padding-top: 20px;
          align-items: center;
          .circle {
            width: 30px;
            height: 30px;
            border: 1px solid black;
            background-color: black;
            border-radius: 50%;
            justify-content: center;
            display: flex;
            align-items: center;
            svg {
              display: flex;
              color: white;
            }
          }
          p {
            opacity: 1;
            font-size: 0.8em;
          }
        }
      }
    }
    .sec6 {
      width: 100%;
      .mobile {
        width: 100%;
        aspect-ratio: 1/1;
      }
      .desktop {
        display: none;
      }
      .hAp {
        display: flex;
        flex-direction: column;
        gap: 10px;
        h1 {
          font-weight: 350;
        }

        .arrAp {
          display: flex;
          gap: 10px;
          padding-top: 20px;
          align-items: center;
          .circle {
            width: 30px;
            height: 30px;
            border: 1px solid black;
            background-color: black;
            border-radius: 50%;
            justify-content: center;
            display: flex;
            align-items: center;
            svg {
              display: flex;
              color: white;
            }
          }
          p {
            opacity: 1;
            font-size: 0.8em;
          }
        }
      }
    }
  }

  .sec7-8 {
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
    margin-bottom: 4rem;
    gap: 20px;
    width: 100%;
    .sec7 {
      width: 100%;
      img {
        width: 100%;
      }
    }

    .sec8 {
      display: flex;
      flex-direction: column;
      gap: 20px;
      hr {
        opacity: 0.3;
      }
      .c8 {
        display: flex;
        flex-direction: column;
        gap: 10px;
        p {
          font-size: 0.9rem;
        }
        h3 {
          font-weight: 350;
          font-size: 2rem;
        }
      }
    }
  }

  .sec9-10 {
    margin-top: 2rem;
    margin-bottom: 3rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    .sec9 {
      h1 {
        font-size: 3rem;
        font-weight: 350;
      }

      p {
        font-size: 1.2em;
      }
    }
    .sec10 {
      margin-top: 2rem;
      display: flex;
      flex-direction: column;
      gap: 20px;
      .card {
        display: flex;
        flex-direction: column;
        gap: 20px;
        p {
          font-size: 1.7rem;
          font-weight: 350;
        }
        img {
          width: 100%;
          object-fit: cover;
        }
        .connect {
          display: flex;
          align-items: center;
          justify-content: space-between;

          h5 {
            font-weight: 350;
            font-size: 1.1rem;
          }
        }
        .para {
          font-size: 1.2rem;
          opacity: 0.6;
        }
      }
    }
  }

  .sec11 {
    display: flex;
    flex-direction: column;
    gap: 20px;

    p {
      font-size: 0.9rem;
    }
    h1 {
      font-weight: 450;
      font-size: 2.3rem;
    }

    .arrAp {
      display: flex;
      align-items: center;
      gap: 10px;
      .arsvg {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        border-radius: 50%;

        background-color: black;

        svg {
          color: aliceblue;
        }
      }
    }
  }

  .foot {
    margin-top: 2rem;
  }
  footer {
    padding-bottom: 1rem;
    padding-top: 1rem;
    display: flex;
    justify-content: space-between;

    p {
      font-size: 0.8rem;
    }
  }
}

@media (min-width: 1080px) {
  html {
    padding: 2.7rem;
  }

  header {
    .img-header {
      img {
        width: 5rem;
      }
    }
    .cfoot {
      gap: 2rem;
    }
  }
  main {
    .sec2 {
      flex-direction: row-reverse;

      .div1-2 {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .div1 {
          h1 {
            font-size: 5.1rem;
            line-height: 5rem;
            font-weight: 400;
          }
          p {
            font-size: 1.5rem;
            width: 85%;
          }
        }
      }
    }

    .sec3 {
      flex-direction: row;
      padding-top: 2rem;
      gap: 55px;

      .img3 {
        width: 30%;
        img {
          aspect-ratio: 1/1;
        }
      }
      .div1 {
        width: 70%;
        flex-direction: row-reverse;
        .hAp {
          h1 {
            font-size: 6.5rem;
            line-height: 6rem;
          }
          p {
            margin-top: auto;
            width: 61%;
            font-size: 1.2rem;
          }
        }
      }
    }

    .sec4 {
      padding-top: 5rem;
      flex-direction: row;

      .div1 {
        width: 50%;
        justify-content: space-between;
        .heading {
          font-size: 2.5rem;
          line-height: 6.5rem;
        }
        .services {
          flex-direction: row;
          gap: 40px;
          overflow: hidden;
          flex-wrap: wrap;
          hr {
            display: none;
          }
          .service1 {
            width: 47%;
          }
        }
      }

      .div2 {
        width: 50%;
      }
    }

    .sec5-6 {
      padding-top: 10rem;
      gap: 70px;
      .sec5 {
        display: flex;
        flex-direction: row;
        gap: 30px;
        .mobile {
          width: 33%;
        }
        .desktop {
          display: block;
          width: 33%;
          aspect-ratio: 1/1;
        }
        .hAp {
          width: 33%;
          justify-content: space-between;
          h1 {
            font-size: 4rem;
          }
          p {
            font: 2rem;
            width: 80%;
          }
        }
      }
      .sec6 {
        display: flex;
        flex-direction: row-reverse;
        gap: 30px;
        .mobile {
          width: 33%;
        }
        .desktop {
          display: block;
          width: 33%;
          aspect-ratio: 1/1;
        }
        .hAp {
          width: 33%;
          justify-content: space-between;
          h1 {
            font-size: 4rem;
          }
          p {
            font: 2rem;
            width: 80%;
          }
        }
      }
    }
    .parent {
      width: 100%;
      display: flex;
      justify-content: flex-end;
      .sec7-8 {
        width: 65%;
        display: flex;
        justify-content: flex-end;
        .sec7 {
          display: flex;
          justify-content: flex-end;
          img {
            width: 50%;
          }
        }

        .sec8 {
          width: 100%;

          .c8 {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;

            .cc8 {
              display: flex;
              flex-direction: row;
              align-items: center;
              gap: 20px;
            }
          }
        }
      }
    }

    .sec9-10 {
      .sec9 {
        display: flex;
        flex-direction: row;
        align-items: center;

        h1 {
          width: 50%;
          font-size: 7rem;
        }
        p {
          margin-top: auto;
          width: 50%;
          font-size: 1.3rem;
        }
      }

      .sec10 {
        margin-top: 3rem;
        display: flex;
        flex-direction: row;
        gap: 5rem;

        .card {
          width: 300px;

          p {
            br {
              display: none;
            }
          }
        }
      }
    }

    .parent1 {
      margin-top: 6rem;
      display: flex;
      justify-content: flex-end;

      .sec11 {
        width: 50%;

        h1 {
          font-size: 4rem;
        }
      }
    }

    footer {
      margin-top: 3rem;
      background-color: rgba(128, 128, 128, 0.411);
      color: aliceblue;
      padding: 1.5rem;
      p {
        font-size: 1.5rem;
      }
    }
  }
}
